.page-header {
    position: sticky;
    top: 0;
    z-index: 1;
}

nav .breadcrumb {
    border-radius: 0;
}

.breadcrumb {
    margin-bottom: 0;
}


.vnav-flex{
    display: flex;
    justify-content: space-between;
}
.vnav-text {
    width: calc(100vw - 300px);
}

.hnav {
    .nav-container {
        display: block;
        margin: 10px auto;
        position: relative;
        min-height: 50px;
    }

    .text {
        display: block;
    }
}

