.page-header {
    position: sticky;
    top: 0;
    z-index: 1;
}

nav .breadcrumb {
    border-radius: 0;
}

.breadcrumb {
    margin-bottom: 0;
}

.vnav-flex{
    display: flex;
    justify-content: space-between;
}
.vnav-text {
    width: calc(100vw - 300px);
}