.theory {
  width: 100vw;
  height: auto;

  &__criteria {
    list-style: none;

    li {
      padding: 5px 0;
    }
  }

  b {
    color: #100e17;
    font-weight: 600;
  }

  h2 {
    margin-bottom: 50px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      height: 4px;
      bottom: -8px;
      left: 0;
      width: 614px;
      background-color: #ff8a00;
    }

  }

  .theory__list {
    list-style: none;

    &-item {
      padding: 5px 0;
    }
    &-img{    
      display: block;
      width: 50%;
      margin: 20px auto;
    } 
    &-img-hierarchical{
      display: block;
      width: 30%;  
      margin: 0 auto;
    }  
  }
}


